In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.1.4.tar.gz (4.3 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'error'

  error: subprocess-exited-with-error

  × Preparing metadata (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [12 lines of output]
      + meson setup C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61 C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61\.mesonpy-8898f1th\build -Dbuildtype=release -Db_ndebug=if-release -Db_vscrt=md --vsenv --native-file=C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61\.mesonpy-8898f1th\build\meson-python-native-file.ini
      The Meson build system
      Version: 1.2.1
      Source dir: C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61
      Build dir: C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61\.mesonpy-8898f1th\build
      Build type: native build
      Project name: pandas
      Project version: 2.1.4

      ..\..\meson.build:2:0: ERROR: Could not find C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe

      A full log can be found at C:\Users\VENKATRAMAN.G\AppData\Local\Temp\pip-install-k4g0as7s\pandas_d3810aa3f6a54a88945b97ab33bedd61\.mesonpy-8898f1th\build\meson-logs\meson-log.txt
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Data Collection and analysis.

In [2]:
#loading the diabetes dataset to pandas data frame.
diabetes_dataset=pd.read_csv('diabetes.csv')
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
diabetes_dataset.shape

(768, 9)

In [4]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [7]:
#seperating data and variable.
#Droping columns.
x=diabetes_dataset.drop(columns='Outcome', axis=1)
y=diabetes_dataset['Outcome']
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [8]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization.

In [9]:
scaler=StandardScaler()

In [10]:
scaler.fit(x)

StandardScaler()

In [11]:
standerdized_data=scaler.transform(x)

In [12]:
print(standerdized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [13]:
x=standerdized_data
y=diabetes_dataset['Outcome']

In [14]:
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [16]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

Training model

In [17]:
classifier=svm.SVC(kernel='linear')
#Training the suppot vector classifier
classifier.fit(x_train,y_train)

SVC(kernel='linear')

Model Evaluation
Accuracy Score

In [18]:
x_train_prediction=classifier.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [19]:
print("Accuracy score of the training data:",training_data_accuracy)

Accuracy score of the training data: 0.7866449511400652

In [20]:
x_test_prediction=classifier.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)
print("Accuracy score of test data:",test_data_accuracy)

Accuracy score of test data: 0.7727272727272727

Making predictive system

In [21]:
input_data=(4,110,92,0,0,37.6,0.191,30)
#input_data=(5,166,72,19,175,25.8,0.587,51)
print(len(input_data))

# changing the input data to numpy array

input_data_as_numpy_array=np.asarray(input_data)

#Reshape array for predicting for instances.

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

print(input_data_reshaped)

#Standardizing input data
#print(scaler.fit(input_data_reshaped))

std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction=classifier.predict(std_data)

print(prediction)    #Returns the list.

if prediction[0]==0:
    print("The person is not diabetic.")
else:
    print("The person is diabetic.")

8
[[  4.    110.     92.      0.      0.     37.6     0.191  30.   ]]
[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
The person is not diabetic.

C:\Users\VENKATRAMAN.G\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Saving the trained model

In [22]:
import pickle
filename='trained_model.sav'
pickle.dump(classifier,open(filename,'wb'))

In [23]:
loading_model=pickle.load(open('trained_model.sav','rb'))

In [24]:
#input_data=(2,197,70,45,543,30.5,0.587,43)
input_data=(5,166,72,19,175,25.8,0.587,51)
print(len(input_data))

# changing the input data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

#Reshape array for predicting for instances.

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)

#Standardizing input data
#print(scaler.fit(input_data_reshaped))
std_data=scaler.transform(input_data_reshaped)
print(std_data)

prediction=loading_model.predict(std_data)
print(prediction)    #Returns the list.

if prediction[0]==0:
    print("The person is not diabetic.")
else:
    print("The person is diabetic.")

8
[[  5.    166.     72.     19.    175.     25.8     0.587  51.   ]]
[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic.

C:\Users\VENKATRAMAN.G\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(